/* @font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: Roboto, sans-serif;
}

#prematch_table, #postmatch_table {

    font-family : Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: center;
    color: white;
    font-size: 13px;
    font-style: bold;
    font-weight: 700;
    letter-spacing: 1px;
    border-width: 4px;
    border-color: white;
}

#auton_table, #endgame_table, #teleop_table {
    font-family : Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: black;
    font-size: 13px;
    font-style: bold;
    font-weight: 700;
    letter-spacing: 1px;
    border-width: 4px;
    border-color: black;
}

.button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}

/* Make buttons larger */
.counter-button {
  width: 20px;         /* Increase button width */
  height: 20px;        /* Increase button height */
  font-size: 16px;     /* Increase font size */
  padding: 12px;       /* Add more padding for better size */
  border-radius: 4px;  /* Optional: rounded corners */
  background-color: #f6faff; /* Optional: change button background color */
  color: black;        /* White text */
  border: none;        /* Remove borders */
  cursor: pointer;     /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Optional: smooth color change on hover */
}

.counter-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* hide the actual radio input */
.radio-btn input[type="radio"] {
  display: none;
}

.radio-btn span {
  display: inline-block;
  padding: 6px 12px;       /* size of the box */
  margin: 2px;             /* spacing between buttons */
  border: 1px solid #444;  /* box border */
  border-radius: 4px;      /* rounded corners */
  cursor: pointer;
  user-select: none;
  text-align: center;
}

/* highlight when selected */
.radio-btn input[type="radio"]:checked + span {
  background-color: rgb(239, 239, 236);
  color: black;
}

.radio-btn input[type="radio"][value^="r"] + span {
  border-color: #d9534f;
  border-style: solid;
  border-width: 1px;
  color: white;
}

.radio-btn input[type="radio"][value^="b"] + span {
  border-color: #0275d8;
  border-style: solid;
  border-width: 1px;
  color: white;
}

.radio-btn input[type="radio"][value^="r"]:checked + span {
  background-color: #d9534f;
  border-color: #d9534f;
  border-style: solid;
  border-width: 5px;
  color: white;
}

.radio-btn input[type="radio"][value^="b"]:checked + span {
  background-color: #0275d8;
  border-color: #0275d8;
  border-style: solid;
  border-width: 5px;
  color: white;
}

/* Style the label to look like a button */
.check-btn {
  display: inline-block;
  padding: 15px 15px;
  margin: 5px;
  border-radius: 4px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  color: white;
  text-align: center;
  user-select: none; /* Disable text selection */
}

@media (max-width: 768px) {
  .check-btn {
    padding: 4vw 6vw; /* Adjust padding for mobile */
  }
}

/* Ensure no default checkbox styles */
input[type="checkbox"] {
  display: none;  /* Hide the checkbox, it will be visually represented by the label */
}

#autonHeader, #endgameHeader, #teleopHeader1, #teleopHeader2{
    color: black;
    border-color: black;
    border-width: 4px;
}

#postmatchHeader{
    border-width: 4px;
    border-color: white;
}

#prematchHeader1, #prematchHeader2{
    color: white;
    border-color: white;
    border-width: 4px;
}

#qrHeader1, #qrHeader2 {
    color: black;
}

.field-image {
    margin: 2vw;
}

.field-image-src{
    background-position: center;
    border: 1px solid;
}

.main-panel{
    display: none;
    height: 100%;
    min-height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background-color: black;
    font-family : Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: justify;
}

#prematch{
    display: table;
}

#auton{
}

#teleop{
}

#endgame{
}

#postmatch{
}

#qr-code{
  text-align: center;
  color: black;
}

h1{
    font-family: Roboto;
    text-align: center;
    border-style: groove;
    border-color: white;
    border-width: 2px;
    font-size: 40px;
    padding: 10px;
    font-weight: 500;
}

#page2, #page4 {
    color: black;
}

h2{
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}

.match-label{
    text-align: center;
}

.half-button-l{
    width: 48%;
    margin: 1vw;
    height: 100%;
    font: roboto;
}

.half-button-r{
    flex-grow: 1;
    height: 100%;
    width: 48%;
    margin: 1vw;
    font: roboto;
}

.half-button-container{
    display: flex;
}

#nextButton1, #nextButton2, #nextButton9, #nextButton10, .clearForm, .submitForm, #displayButton, #copyButton {
    font-family: Roboto;
    font-weight: 500;
    padding: 10px;
    background-color: rgb(151, 199, 240);
    text-decoration: none;
    display: inline-block;
}

#nextButton3, #nextButton4, #nextButton5, #nextButton6, #nextButton7, #nextButton8 {
    font-family: Roboto;
    font-weight: 500;
    background-color: black;
    padding: 10px;
    color: white;
}

.undoButton, .flipButton {
    font-family: Roboto;
    font-weight: 500;
    background-color: black;
    padding: 10px;
    color: white;
    margin-left: 20px;
}

#prevButton7, #prevButton8, #prevButton9{
    font-family: Roboto;
    font-weight: 500;
    background-color: rgb(151, 199, 240);
    padding: 10px;
}

#prevButton1, #prevButton2, #prevButton3, #prevButton4, #prevButton5, #prevButton6{
    font-family: Roboto;
    font-weight: 500;
    background-color: black;
    padding: 10px;
    color: white;

}

#prematch_table{
    font: Roboto;
    font-weight: 500;
    text-align: center;
}


h1 .odd {
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    color: #0AB4EC;
}

h1 .even {
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    color: #42B333;
}

table {
    border: 1px solid black;
    width: 100%;
}

td {
    padding: 10px 4px;
}

input {
    font-size: 16px;
    font: roboto;
    color: black;
    background-color: white;
}

.title {
    width: "50%";
    text-align: right;
}

.field {
    width: "50%";
    text-align: left;
}

#qr-table {
    text-align: center;
    color: black;
    background-color: white;
}

#data {
    font-family:'Lucida Console', 'monospace';
    text-align: justify;
}
